
<form method="POST" action="/songs/<%= @song.slug %>">
<input type="text" name="Name" value=@song.name>
<input type="hidden" name="_method" value="PATCH">
<input type="text" name="Artist Name">
<% @song.genres.each do |genre| %>
    <label> <%= genre.name %>: <input
      id="<%= genre.name %>"
      type="checkbox"
      name="genres[]"
      value="<%= genre.id %>"
    ></label>
    <% end %>
    <input type="submit" name="Save"/> 
</form>
